@charset 'utf-8';

@import 'settings';
@import '~foundation-sites/scss/foundation';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@include foundation-everything();

@font-face {
	font-family: alfphabet;
	src: url(../../fonts/Alfphabet-IV.ttf);
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/OpenSans-Regular.ttf);
}

.top-bar-title h1 {
	font-family: alfphabet;
	font-size: 1rem;
	margin: 0;
	color: $white;
}

.top-bar-title h1 > a {
	color: $white;
}

.top-bar-title h1 > small {
	color: $interview-orange;
}

input:invalid {
	border-left: 3px solid $alert-color;
}

.button.fa:before {
	margin-right: 1em;
}

td .button {
	margin-bottom: 0;
}

.button.fa-after:after {
	margin-left: 1em;
}

.fa-caret-right-after:after {
	content: $fa-var-caret-right;
}

.cover {
	width: 100%;
	margin: 0;
	padding: 10em 0;
	background: url(../../px/99129170_7d542023a6_o.jpg) no-repeat center fixed;
	background-size: cover;
	color: white;
}

.cover > .row {
	background: rgba(27, 27, 27, 0.75) none repeat scroll 0 0;
}

h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 3px solid $primary-color;
	color: $primary-color;
}

div.media-control div.progress {
	margin-left: 4em;
}

div.media-control button.fa-forward {
	margin-left: 1em;
}
